# Supabase API Configuration
VITE_SUPABASE_URL=https://pjvsocwqqqscngqnsyww.supabase.co
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

# Direct PostgreSQL Connection (Optional: used for running scripts/setup-db.js)
DATABASE_URL=postgresql://postgres.pjvsocwqqqscngqnsyww:[YOUR-PASSWORD]@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres
